.bsr-left-tooltip {
    display: flex;
    justify-content: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
    color: white;
    margin :5px;
    background: #010101;
    position: absolute;
    top: 0;
    border-radius: 3px;
}

