:root {
    --color: #010101;
}

.bsr-left-tooltip {
    display: flex;
    justify-content: center;
    align-content: center;
    width: fit-content;
    height: fit-content;
    color: white;



    margin :5px;

    background: var(--color);
    position: absolute;
    top: 0;
    border-radius: 3px;
}
/*.bsr-left-tooltip:before {*/
/*    content: "";*/
/*    width: 0;*/
/*    height: 0;*/
/*    position: absolute;*/
/*    right: 100%;*/
/*    top: calc(50% - 15px);*/
/*    border-top: 8px solid transparent;*/
/*    border-right: 15px solid var(--color);*/
/*    border-bottom: 8px solid transparent;*/
/*}*/

